<br>
<table class="table">
    <!--
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>-->
    <tbody>
      <tr>
        
        <td rowspan="10"><img src="/Assets/images/foto01.jpg" alt="Pic" class="img-rounded"></td>
        <th>Name:</th>
        <td>Ruben</td>
      </tr>
      <tr>
        
        <th>Last name:</th>
        <td>Ormeno</td>
      </tr>
      <tr>
        
        <th>Career:</th>
        <td>System Engineer</td>
      </tr>
      <tr>
        
        <th>Location:</th>
        <td>Toronto, Ontario, Canada</td>
      </tr>
      <tr>
        
        <th>Summary:</th>
        <td>Experienced system engineer with MBA degree and PMP certification focused on transforming business requirements into system solutions, conferencing with clients, defining their requirements, develop and deploy the applications to production environment. Creative person, proactive and strong sense of ownership of projects.</td>
      </tr>
      <tr>
        
        <th>Resume:</th>
        <td><a href="/Assets/CV_RubenOrmeno.pdf" download="CV_RubenOrmeno.pdf"><button type="button" class="btn btn-dark">Download</button></a></td>
      </tr>
    </tbody>
</table>

