<form>
    <div class="container col-6 justify-content-center align-items-center">
        <div class="mb-3">
            <label for="contactFirstNameInput" class="form-label">First Name: </label>
            <input type="text" class="form-control" id="contactFirstNameInput" aria-describedby="firstNameHelp">
        </div>
        <div class="mb-3">
            <label for="contactLastName" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="contactLastNameInput" aria-describedby="lastNameHelp">
        </div>
        <div class="mb-3">
            <label for="contactNumberInput" class="form-label">Contact Number:</label>
            <input type="number" class="form-control" id="contactNumberInput" aria-describedby="contactNumberHelp" placeholder="+14161234567">
            <div id="contactNumberHelp" class="form-text">Please add the code of the country</div>
        </div>
        <div class="mb-3">
        <label for="contactEmailInput" class="form-label">Email address:</label>
        <input type="email" class="form-control" id="contactEmailInput" aria-describedby="emailHelp" placeholder="mymail@domain.com">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="contactMessageInput" class="form-label">Message:</label>
            <textarea class="form-control" id="contactMessageInput" rows="3" placeholder="Write your message here..."></textarea>

        </div>
        
        <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="home">Submit</a>
    


    </div>
</form>