            <br>            
            <div class="container text-left">
                <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3 bg-light rounded">
                  <div class="col">
                      <div class="p-3"><h5>Project01:</h5></div>
                  </div>
                  <div class="col">
                      <div class="p-3"></div>
                  </div>
                  <div class="col">
                      
                      <tr>
                          <td rowspan="10"><img src="/Assets/images/foto01.jpg" alt="Pic" class="img-rounded"></td>
                      </tr>
                  </div>
                  <div class="col">
                      <tr>
                          <th>Role:</th>
                          <td>IT Professional Consultant</td><br><br><br>
                      </tr>
                      <tr>
                          <th>Description:</th>
                          <td>Participated in the definition and implementation of the contact center of the biggest peruvian bank. Creating a omnichannel for the communication of the customer with the bank. Their employees of customer services can now talk, chat and attend email using a single application. Also telemarketing and collecting areas can have automate dialing campaigns to contact customers. (Integrating 120 host servers in windows and linux, Cassandra, MSSQL Server 2016, TLS1.2 communication, Genesys 9.0, sip protocols)</td><br>
                          <br><br><br>
                      </tr>
                      <tr>
                          <th>Outcome:</th>
                          <td>The bank is using the system as a basis for all other functionality they want to add to their contact center. 

                          </td><br>
                      </tr>
                  </div>
                </div>
              </div>

            <br>
            <br>

            <div class="container text-left">
                <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3 bg-light rounded">
                  <div class="col">
                      <div class="p-3"><h5>Project02:</h5></div>
                  </div>
                  <div class="col">
                      <div class="p-3"></div>
                  </div>
                  <div class="col">
                      
                      <tr>
                          <td rowspan="10"><img src="/Assets/images/foto01.jpg" alt="Pic" class="img-rounded"></td>
                      </tr>
                  </div>
                  <div class="col">
                      <tr>
                          <th>Role:</th>
                          <td>IT Professional Consultant</td><br><br><br>
                      </tr>
                      <tr>
                          <th>Description:</th>
                          <td>Supported and resolved issues on IVR integrated with Google Speech to Text, Google Text to Speech and 
                            IBM Watson bot from a telecommunication company of Argentina. </td><br>
                          <br><br><br>
                      </tr>
                      <tr>
                          <th>Outcome:</th>
                          <td>Business Analyst</td><br>
                      </tr>
                  </div>
                </div>
              </div>

            <br>
            <br>
            
            <div class="container text-left">
              <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3 bg-light rounded">
                <div class="col">
                    <div class="p-3"><h5>Project03:</h5></div>
                </div>
                <div class="col">
                    <div class="p-3"></div>
                </div>
                <div class="col">
                    
                    <tr>
                        <td rowspan="10"><img src="/Assets/images/foto01.jpg" alt="Pic" class="img-rounded"></td>
                    </tr>
                </div>
                <div class="col">
                    <tr>
                        <th>Role:</th>
                        <td>Co-Founder/Project Manager </td><br><br><br>
                    </tr>
                    <tr>
                        <th>Description:</th><br>
                        <td>- Managed the support services provided by the company complying with the service level defined in the contract. 
                            The support service was for the contact center of a retail company from 3 countries: Peru, Chile, Argentina and Colombia.</td><br>
                        <td>- Managed the training of the team to keep them updated and certified in Genesys applications.
                            </td>
                        <td>- Managed developing projects in javascript for the IVR of telecommunications companies and PHP web to
                            customize some features.
                            </td><br>
                        <td>- Presented and proposed new services to prospective clients.</td>
                        <br><br><br>
                    </tr>
                    <tr>
                        <th>Outcome:</th>
                        <td>Business Analyst</td><br>
                    </tr>
                </div>
              </div>
            </div>
            

            <!--To give space to the footer, so it cannot overlap the body-->
            <br><br><br><br>