<br><br>
<div class="container align-self-center col-6 rounded" >
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="3">Services offered:</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">1.</th>
                <td style="width: 80%">Software Design</td>
                <td class="text-center" style="width: 25%"><img src="/Assets/images/UMLDesign.png" alt="Pic" class="img-rounded"></td>
            </tr>
            <tr>
                <th class="text-center">2.</th>
                <td style="width: 80%">Web Design and Development</td>
                <td class="text-center" style="width: 25%"><img src="/Assets/images/WebDevelopment.png" alt="Pic" class="img-rounded"></td>
            </tr>
            <tr>
                <th class="text-center">3.</th>
                <td style="width: 80%">Java Programming</td>
                <td class="text-center" style="width: 25%"><img src="/Assets/images/JavaDevelopment.png" alt="Pic" class="img-rounded"></td>
            </tr>
            <tr>
                <th class="text-center">4.</th>
                <td style="width: 80%">Python Programming</td>
                <td class="text-center" style="width: 25%"><img src="/Assets/images/PythonDevelopment.jpeg" alt="Pic" class="img-rounded"></td>
            </tr>
        </tbody>
    </table>
</div>
<br><br><br><br>